<section>
    <div class="divs">
        <h1>Resumo</h1>
        <ul>
            <li ng-repeat="linha in curriculo.resumo">{{linha}}</li>
        </ul>
    </div>

    <div class="divs">
        <h1>Acadêmico</h1>
        <ul>
            <li ng-repeat="informacao in curriculo.academico"><b>{{informacao.data}}</b> {{informacao.formacao}}</li>
        </ul>
    </div>

    <div class="divs">
        <h1>Experiência</h1>
        <ul>
            <li ng-repeat="linha in curriculo.experiencia"><b>{{linha.data}}</b>{{linha.cargo}}</li>
        </ul>
    </div>

    <!--<div class="divs">
    <h1>Solicitações de Orçamento</h1><br>
    <div>
      <form>
        <label>Título</label>
        <input type="text" name="titulo" ng-model="orcamento.titulo"><br><br>
        <label>Contatos</label>
        <input type="text" name="contatos" ng-model="orcamento.contato"><br><br>
        <label>Descrição</label>
        <textarea type="text" name="descricao" ng-model="orcamento.descricao"></textarea>
        <br><br>
        <div class="button-container">
          <button ng-click="solicitarOrcamento()">Solicitar
          </button>
        </div>
      </form>
    </div>
  </div>-->
</section>